#book-cover{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "elza-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    align-items: center;
    line-height: 1em;

    position: relative;
    left: calc(50vw - 250px);
}

@media (max-width: 450px){
    #book-cover{
        width: 90vw;
        height: 95vh;
        left: 2.5vw;
    }
}